.breadcrumb-container{background-color: $breadcrumb-bg-jumbotron;} 
.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $spacer-y;
  list-style: none;
  background-color: $breadcrumb-bg;
  @include border-radius($border-radius);
  @include clearfix;

  .breadcrumb-container & {background-color: transparent; margin: 0px; border-radius: 0px;} 

  > li {
    float: left;

    + li::before {
      padding-right: .5rem;
      padding-left: .5rem;
      color: $breadcrumb-divider-color;
      content: "#{$breadcrumb-divider}";
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}